 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .item_title {

    font-size: 28px;
    margin-top: -1px;
  }
  
  .item_fulltext {
    margin-top: -5px; 
    font-family: 'Lato', Arial, serif !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  
  @media screen and (max-width: 768px) {
    .content {
      flex-direction: column;
      align-items: flex-start;
    }
  
     
    .right-side {
      width: 100%;
    }
  }
  